*{
    margin: 0px;
}

@font-face {
    font-family: "Edmondsans";
    src: url("../../src/utils/fonts/EdmondsansRegular.ttf");

    font-family: "Sunny";
    src: url("../../src/utils/fonts/SunnyWeather.otf")

}
  





.header{
    background: #856154;
}
.menu{
    background: #C4C4C4;
    border:2px solid #A7AA0B;
    font-family: "Edmondsans";
}
.menu li {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    line-height:45px;
    text-align: center;
    border-right:2px solid #A7AA0B;
}
.menu li:hover{
    background: #A9D18E;
} 
.pH{
    height: 100vh;
    width:100%;
    background: url("../../src/utils/images/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
.pH p{
    color: white;
    font-size: 35px;
    font-family: "Sunny";
}



.header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 140px;
    height: 105px;
}
.socialmedia img{
    width: 60px;
    height: 60px;
    padding-top: 20%;
}


.banner{
    height: 120px;
    width:100%;
    background: url("../../src/utils/images/bannerAS.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid white;
}




/*Accordion styles*/


.main-container{
    width: 100%;
    text-align: center;
    font-family: "Edmondsans";
}
.btn-item{
    background: #A9D18E;
    display:block;
    color: black;
    padding: 8px;
    border-top: 10px solid white;
}
.item-content{
    background: honeydew;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
}
.active + .item-content{
    max-height: 50%;
    padding: 10px;
    opacity: 1; 
}
.btn-item.active{
    background: #548235;
}
.btn-item:after{
    content: '\002b';
    float: right;
}
.btn-item.active:after{
    content: '\02212';
    float: right;
}
