.menuPYA{
    background: #C4C4C4;
    border:2px solid #A7AA0B;
    font-family: "Edmondsans";
}
.menuPYA li {
    display: inline-block;
    max-width: 152px;
    width: 100%;
    line-height:45px;
    text-align: center;
    border-right:2px solid #A7AA0B;
}
.menuPYA li:hover{
    background: #A9D18E;
} 

.main-container{
    width: 100%;
    text-align: center;
    font-family: "Edmondsans";
}
.btn-item{
    background: #A9D18E;
    display:block;
    color: black;
    padding: 8px;
    border-top: 10px solid white;
}
.item-content{
    background: honeydew;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
}
.active + .item-content{
    max-height: 50%;
    padding: 10px;
    opacity: 1; 
}
.btn-item.active{
    background: #548235;
}
.btn-item:after{
    content: '\002b';
    float: right;
}
.btn-item.active:after{
    content: '\02212';
    float: right;
}


.boxes{
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    margin-top: 3%;
}
.boxes img{
    width: 150px;
    height: 150px;
}
.prev, .next {  /*Botones de anterior y siguiente*/
  cursor: pointer;
  color: #A9D18E;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover, .next:hover { /* Al pasar el mouse, agrega un color de fondo */ 
  background-color: #A9D18E;
  color: aliceblue;
}


.buttonPA{
    width: 150px;
    color: #548235;
    font-size: 15px;
    padding: 0.5em 1.2em;

    border: 2px solid;
    border-color: #548235;
    transition: all 1s ease;
    position: relative;
  }
  .buttonPA:hover {
    background: #548235;
    color: aliceblue;
  }