.menuPYA{
    background: #C4C4C4;
    border:2px solid #A7AA0B;
}
.menuPYA li {
    display: inline-block;
    max-width: 154.5px;
    width: 100%;
    line-height:45px;
    text-align: center;
    border-right:2px solid #A7AA0B;

}
.menuPYA li:hover{
    background: #A9D18E;
} 









.main-container{
    width: 100%;
    text-align: center;
}

.btn-item{
    background: #A9D18E;
    display:block;
    color: black;
    padding: 8px;
    border-top: 10px solid white;
}
.item-content{
    background: honeydew;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
}
.active + .item-content{
    max-height: 50%;
    padding: 10px;
    opacity: 1; 
}
.btn-item.active{
    background: #548235;
}
.btn-item:after{
    content: '\002b';
    float: right;
}
.btn-item.active:after{
    content: '\02212';
    float: right;
}