.menuPYA{
    background: #C4C4C4;
    border:2px solid #A7AA0B;
    font-family: "Edmondsans";
}
.menuPYA li {
    display: inline-block;
    max-width: 152px;
    width: 100%;
    line-height:45px;
    text-align: center;
    border-right:2px solid #A7AA0B;
}
.menuPYA li:hover{
    background: #A9D18E;
} 



.boxes{
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    margin-top: 3%;
}
.boxes img{
    width: 150px;
    height: 150px;
}
.prev, .next {  /*Botones de anterior y siguiente*/
  cursor: pointer;
  color: #A9D18E;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover, .next:hover { /* Al pasar el mouse, agrega un color de fondo */ 
  background-color: #A9D18E;
  color: aliceblue;
}


button{
    width: 150px;
    color: #548235;
    font-size: 15px;
    padding: 0.5em 1.2em;
    border: 2px solid;
    border-color: #548235;
    transition: all 1s ease;
    position: relative;
    background: #C4C4C4;
}

button:hover {
    background: #548235;
    color: aliceblue;
}



  /* MODAL –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .open-modal {
    font-weight: bold;
    background: steelblue;
    color: #fff;
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    cursor: default;
  }
  
  .modal-dialog>* {
    padding: 1rem;
  }
  
  .modal-header {
    background: #efefef;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  
  .modal p+p {
    margin-top: 1rem;
  }